*{
margin: 0;
padding: 0;
}
.cointainer{
    /* background-color: aquamarine; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.calculator{
    height:64%;
    width: 38%;
    background-color: #222;
    border: 2px solid crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.result-box{
    /* background-color: rgb(201, 204, 30); */
    height: 195px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.result{
    background-color: aliceblue;
    height: 81px;
    width: 425px;
    border: 3px solid crimson;
    font-size: 65px;
    text-align: center;
}
.number-box{
    /* background-color:#222 ; */
    height: 223px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.button{
    height: 50px;
    width: 94px;
    background-color: crimson
}
.number{
    height: 100%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.btn-operator{
    /* background-color: red; */
    height: 100%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.button-operate{
     height: 50px;
    width: 116px;
    background-color: hotpink;
}
.button-manage{
    height: 50px;
    width: 116px;
    background-color: hotpink;   
}
.toogle::after{
content:"Enter number";
    font-size: 50px;
    /* padding: 20px; */
    color: #222;
    z-index: +999;
    
}
.button-equal{
    height: 50px;
    width: 232px;
    background-color: #8bc34a;
    font-size: 33px;
}
.btn-zero{
    height: 50px;
    width: 141px;
    background-color: #ff9800;
    font-weight: 600;
    font-size: 22px;
}
.button:hover{
    background-color: coral;
}
.button-operate:hover, .button-manage:hover{
    background-color: rgb(180, 64, 124);
}
.btn-zero:hover{
    background-color: #976315;
}
.button-equal:hover{
    background-color: #85f506;
}
.calculator h1{
    height: 0px;
    padding: 0 0 0 9px;
    color: #db5252;
    font-family: system-ui;
}
.calculator h1:hover{
    color: #fff;
    content: "Dont touch me";
}
.calculator h1:hover::after{
    color: #fff;
    content: " :Dont touch";
}
.hist{
    background-color: #222;
    height: 41px;
    width: 41px;
    border-radius: 50px;
    right: 410px;
    position: absolute;
    top: 170px;
}
.clogo{
    display: flex;
    justify-content: space-between;
}
.hist:hover{
    background-color:crimson;
}
.calculator .it{
   
    background-color:#8bc34a ;
    height: 66%;
    width: 520px;
    position: absolute;
    /* z-index: -111; */
    display: flex;
    /* visibility: hidden; */
    justify-content: center;
    
}
 .calculator .active{
    display: none;
   
}
 .hdisplay{
    height: 100%;
    width: 50%;
    background-color: #e5dcdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
#hdisplay{
    color: crimson;
    background-color:#fff;
    height: 76%;
    width: 78%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    overflow: scroll;
}
#taqui{
    display:block;
}
@media (max-width:362px){
    .calculator{
        height: 65%;
    width: 93%;
    }

    .button{
        height: 53px;
        width: 61px
    }
    .btn-zero {
        height: 42px;
        width: 91px
    }
    .button-operate {
        height: 53px;
        width: 61px;
    }
    .button-manage{
        height: 53px;
        width: 61px;
    }
    .result{
        height: 74px;
        width: 285px;
        font-size: 40px;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .number{
        height: 101%;
    width: 55%;
    margin-bottom: 20px;
    }
    .result-box{
        height: 99px;
        display: flex;
        align-items: flex-start;
    }
    .number-box{
        height: 213px;
        padding-bottom: 24px;
    }

    .button-equal{
        height: 41px;
        width: 125px;
    }
    .btn-operator{
width:37% ;
    }
    .calculator h1{
        font-size: 27px;
    }
    .calculator .it{
        width: 338px;
    }
    .hdisplay{
        width: 100%;
    }
    #hdisplay{
        font-size: 34px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }
    .hist{
        right: 19px;
        height: 29px;
    width: 29px;
    
    }
}